csharp-generics/0-queue/0-main.cs
csharp-linear_algebra/12-dot_product/obj/12-dot_product.csproj.nuget.dgspec.json
csharp-linear_algebra/12-dot_product/obj/12-dot_product.csproj.nuget.g.props
csharp-linear_algebra/12-dot_product/obj/12-dot_product.csproj.nuget.g.targets
csharp-linear_algebra/12-dot_product/obj/project.assets.json
csharp-linear_algebra/12-dot_product/obj/project.nuget.cache
csharp-linear_algebra/14-matrix_addition/obj/14-matrix_addition.csproj.nuget.dgspec.json
csharp-linear_algebra/14-matrix_addition/obj/14-matrix_addition.csproj.nuget.g.props
csharp-linear_algebra/14-matrix_addition/obj/14-matrix_addition.csproj.nuget.g.targets
csharp-linear_algebra/14-matrix_addition/obj/project.assets.json
csharp-linear_algebra/14-matrix_addition/obj/project.nuget.cache
csharp-linear_algebra/16-matrix_scalar_mul/obj/16-matrix_scalar_mul.csproj.nuget.dgspec.json
csharp-linear_algebra/16-matrix_scalar_mul/obj/16-matrix_scalar_mul.csproj.nuget.g.props
csharp-linear_algebra/16-matrix_scalar_mul/obj/16-matrix_scalar_mul.csproj.nuget.g.targets
csharp-linear_algebra/16-matrix_scalar_mul/obj/project.assets.json
csharp-linear_algebra/16-matrix_scalar_mul/obj/project.nuget.cache
csharp-linear_algebra/18-matrix_matrix_mul/obj/18-matrix_matrix_mul.csproj.nuget.dgspec.json
csharp-linear_algebra/18-matrix_matrix_mul/obj/18-matrix_matrix_mul.csproj.nuget.g.props
csharp-linear_algebra/18-matrix_matrix_mul/obj/18-matrix_matrix_mul.csproj.nuget.g.targets
csharp-linear_algebra/18-matrix_matrix_mul/obj/project.assets.json
csharp-linear_algebra/18-matrix_matrix_mul/obj/project.nuget.cache
csharp-linear_algebra/20-matrix_rotate_2D/obj/20-matrix_rotate_2D.csproj.nuget.dgspec.json
csharp-linear_algebra/20-matrix_rotate_2D/obj/20-matrix_rotate_2D.csproj.nuget.g.props
csharp-linear_algebra/20-matrix_rotate_2D/obj/20-matrix_rotate_2D.csproj.nuget.g.targets
csharp-linear_algebra/20-matrix_rotate_2D/obj/project.assets.json
csharp-linear_algebra/20-matrix_rotate_2D/obj/project.nuget.cache
csharp-linear_algebra/24-matrix_shear_2D/obj/24-matrix_shear_2D.csproj.nuget.dgspec.json
csharp-linear_algebra/24-matrix_shear_2D/obj/24-matrix_shear_2D.csproj.nuget.g.props
csharp-linear_algebra/24-matrix_shear_2D/obj/24-matrix_shear_2D.csproj.nuget.g.targets
csharp-linear_algebra/24-matrix_shear_2D/obj/project.assets.json
csharp-linear_algebra/24-matrix_shear_2D/obj/project.nuget.cache
csharp-linear_algebra/28-determinant/obj/28-determinant.csproj.nuget.dgspec.json
csharp-linear_algebra/28-determinant/obj/28-determinant.csproj.nuget.g.props
csharp-linear_algebra/28-determinant/obj/28-determinant.csproj.nuget.g.targets
csharp-linear_algebra/28-determinant/obj/project.assets.json
csharp-linear_algebra/28-determinant/obj/project.nuget.cache
csharp-linear_algebra/3-magnitude/obj/3-magnitude.csproj.nuget.dgspec.json
csharp-linear_algebra/3-magnitude/obj/3-magnitude.csproj.nuget.g.props
csharp-linear_algebra/3-magnitude/obj/3-magnitude.csproj.nuget.g.targets
csharp-linear_algebra/3-magnitude/obj/project.assets.json
csharp-linear_algebra/3-magnitude/obj/project.nuget.cache
csharp-linear_algebra/30-cross_product/obj/30-cross_product.csproj.nuget.dgspec.json
csharp-linear_algebra/30-cross_product/obj/30-cross_product.csproj.nuget.g.props
csharp-linear_algebra/30-cross_product/obj/30-cross_product.csproj.nuget.g.targets
csharp-linear_algebra/30-cross_product/obj/project.assets.json
csharp-linear_algebra/30-cross_product/obj/project.nuget.cache
csharp-linear_algebra/33-inverse_2D/obj/33-inverse_2D.csproj.nuget.dgspec.json
csharp-linear_algebra/33-inverse_2D/obj/33-inverse_2D.csproj.nuget.g.props
csharp-linear_algebra/33-inverse_2D/obj/33-inverse_2D.csproj.nuget.g.targets
csharp-linear_algebra/33-inverse_2D/obj/project.assets.json
csharp-linear_algebra/33-inverse_2D/obj/project.nuget.cache
csharp-linear_algebra/6-vector_addition/obj/6-vector_addition.csproj.nuget.dgspec.json
csharp-linear_algebra/6-vector_addition/obj/6-vector_addition.csproj.nuget.g.props
csharp-linear_algebra/6-vector_addition/obj/6-vector_addition.csproj.nuget.g.targets
csharp-linear_algebra/6-vector_addition/obj/project.assets.json
csharp-linear_algebra/6-vector_addition/obj/project.nuget.cache
csharp-linear_algebra/9-vector_scalar_mul/obj/9-vector_scalar_mul.csproj.nuget.dgspec.json
csharp-linear_algebra/9-vector_scalar_mul/obj/9-vector_scalar_mul.csproj.nuget.g.props
csharp-linear_algebra/9-vector_scalar_mul/obj/9-vector_scalar_mul.csproj.nuget.g.targets
csharp-linear_algebra/9-vector_scalar_mul/obj/project.assets.json
csharp-generics/0-queue/bin/Debug/net7.0/0-queue.deps.json
csharp-generics/0-queue/bin/Debug/net7.0/0-queue.dll
csharp-generics/0-queue/bin/Debug/net7.0/0-queue.exe
csharp-generics/0-queue/bin/Debug/net7.0/0-queue.pdb
csharp-generics/0-queue/bin/Debug/net7.0/0-queue.runtimeconfig.json
csharp-generics/0-queue/obj/0-queue.csproj.nuget.dgspec.json
csharp-generics/0-queue/obj/0-queue.csproj.nuget.g.props
csharp-generics/0-queue/obj/0-queue.csproj.nuget.g.targets
csharp-generics/0-queue/obj/project.assets.json
csharp-generics/0-queue/obj/project.nuget.cache
csharp-generics/0-queue/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
csharp-generics/0-queue/obj/Debug/net7.0/0-queue.AssemblyInfo.cs
csharp-generics/0-queue/obj/Debug/net7.0/0-queue.AssemblyInfoInputs.cache
csharp-generics/0-queue/obj/Debug/net7.0/0-queue.assets.cache
csharp-generics/0-queue/obj/Debug/net7.0/0-queue.csproj.CoreCompileInputs.cache
csharp-generics/0-queue/obj/Debug/net7.0/0-queue.csproj.FileListAbsolute.txt
csharp-generics/0-queue/obj/Debug/net7.0/0-queue.dll
csharp-generics/0-queue/obj/Debug/net7.0/0-queue.GeneratedMSBuildEditorConfig.editorconfig
csharp-generics/0-queue/obj/Debug/net7.0/0-queue.genruntimeconfig.cache
csharp-generics/0-queue/obj/Debug/net7.0/0-queue.pdb
csharp-generics/0-queue/obj/Debug/net7.0/0-queue.sourcelink.json
csharp-generics/0-queue/obj/Debug/net7.0/apphost.exe
csharp-generics/0-queue/obj/Debug/net7.0/ref/0-queue.dll
csharp-generics/0-queue/obj/Debug/net7.0/refint/0-queue.dll
csharp-generics/0-queue/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.AssemblyInfo.cs
csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.AssemblyInfoInputs.cache
csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.assets.cache
csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.csproj.AssemblyReference.cache
csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.csproj.CoreCompileInputs.cache
csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.csproj.FileListAbsolute.txt
csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.GeneratedMSBuildEditorConfig.editorconfig
csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.sourcelink.json
csharp-generics/1-enqueue/1-enqueue.cs
csharp-generics/1-enqueue/1-main.cs
csharp-generics/1-enqueue/bin/Debug/net7.0/1-enqueue.deps.json
csharp-generics/1-enqueue/bin/Debug/net7.0/1-enqueue.dll
csharp-generics/1-enqueue/bin/Debug/net7.0/1-enqueue.exe
csharp-generics/1-enqueue/bin/Debug/net7.0/1-enqueue.pdb
csharp-generics/1-enqueue/bin/Debug/net7.0/1-enqueue.runtimeconfig.json
csharp-generics/1-enqueue/bin/Debug/netcoreapp2.1/1-enqueue.deps.json
csharp-generics/1-enqueue/bin/Debug/netcoreapp2.1/1-enqueue.dll
csharp-generics/1-enqueue/bin/Debug/netcoreapp2.1/1-enqueue.pdb
csharp-generics/1-enqueue/bin/Debug/netcoreapp2.1/1-enqueue.runtimeconfig.dev.json
csharp-generics/1-enqueue/bin/Debug/netcoreapp2.1/1-enqueue.runtimeconfig.json
csharp-generics/1-enqueue/obj/1-enqueue.csproj.nuget.dgspec.json
csharp-generics/1-enqueue/obj/1-enqueue.csproj.nuget.g.props
csharp-generics/1-enqueue/obj/1-enqueue.csproj.nuget.g.targets
csharp-generics/1-enqueue/obj/project.assets.json
csharp-generics/1-enqueue/obj/project.nuget.cache
csharp-generics/1-enqueue/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
csharp-generics/1-enqueue/obj/Debug/net7.0/1-enqueue.AssemblyInfo.cs
csharp-generics/1-enqueue/obj/Debug/net7.0/1-enqueue.AssemblyInfoInputs.cache
csharp-generics/1-enqueue/obj/Debug/net7.0/1-enqueue.assets.cache
csharp-generics/1-enqueue/obj/Debug/net7.0/1-enqueue.csproj.CoreCompileInputs.cache
csharp-generics/1-enqueue/obj/Debug/net7.0/1-enqueue.csproj.FileListAbsolute.txt
csharp-generics/1-enqueue/obj/Debug/net7.0/1-enqueue.dll
csharp-generics/1-enqueue/obj/Debug/net7.0/1-enqueue.GeneratedMSBuildEditorConfig.editorconfig
csharp-generics/1-enqueue/obj/Debug/net7.0/1-enqueue.genruntimeconfig.cache
csharp-generics/1-enqueue/obj/Debug/net7.0/1-enqueue.pdb
csharp-generics/1-enqueue/obj/Debug/net7.0/1-enqueue.sourcelink.json
csharp-generics/1-enqueue/obj/Debug/net7.0/apphost.exe
csharp-generics/1-enqueue/obj/Debug/net7.0/ref/1-enqueue.dll
csharp-generics/1-enqueue/obj/Debug/net7.0/refint/1-enqueue.dll
csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.AssemblyInfo.cs
csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.AssemblyInfoInputs.cache
csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.assets.cache
csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.csproj.AssemblyReference.cache
csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.csproj.CoreCompileInputs.cache
csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.csproj.FileListAbsolute.txt
csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.dll
csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.GeneratedMSBuildEditorConfig.editorconfig
csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.genruntimeconfig.cache
csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.pdb
csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.sourcelink.json
csharp-generics/2-dequeue/2-dequeue.cs
csharp-generics/2-dequeue/main.cs
csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/2-dequeue.deps.json
csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/2-dequeue.dll
csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/2-dequeue.pdb
csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/2-dequeue.runtimeconfig.dev.json
csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/2-dequeue.runtimeconfig.json
csharp-generics/2-dequeue/obj/2-dequeue.csproj.nuget.dgspec.json
csharp-generics/2-dequeue/obj/2-dequeue.csproj.nuget.g.props
csharp-generics/2-dequeue/obj/2-dequeue.csproj.nuget.g.targets
csharp-generics/2-dequeue/obj/project.assets.json
csharp-generics/2-dequeue/obj/project.nuget.cache
csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.AssemblyInfo.cs
csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.AssemblyInfoInputs.cache
csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.assets.cache
csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.csproj.AssemblyReference.cache
csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.csproj.CoreCompileInputs.cache
csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.csproj.FileListAbsolute.txt
csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.dll
csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.GeneratedMSBuildEditorConfig.editorconfig
csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.genruntimeconfig.cache
csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.pdb
csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.sourcelink.json
csharp-generics/3-peek/3-main.cs
csharp-generics/3-peek/3-peek.cs
csharp-generics/3-peek/bin/Debug/netcoreapp2.1/3-peek.deps.json
csharp-generics/3-peek/bin/Debug/netcoreapp2.1/3-peek.dll
csharp-generics/3-peek/bin/Debug/netcoreapp2.1/3-peek.pdb
csharp-generics/3-peek/bin/Debug/netcoreapp2.1/3-peek.runtimeconfig.dev.json
csharp-generics/3-peek/bin/Debug/netcoreapp2.1/3-peek.runtimeconfig.json
csharp-generics/3-peek/obj/3-peek.csproj.nuget.dgspec.json
csharp-generics/3-peek/obj/3-peek.csproj.nuget.g.props
csharp-generics/3-peek/obj/3-peek.csproj.nuget.g.targets
csharp-generics/3-peek/obj/project.assets.json
csharp-generics/3-peek/obj/project.nuget.cache
csharp-generics/3-peek/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
csharp-generics/3-peek/obj/Debug/netcoreapp2.1/3-peek.AssemblyInfo.cs
csharp-generics/3-peek/obj/Debug/netcoreapp2.1/3-peek.AssemblyInfoInputs.cache
csharp-generics/3-peek/obj/Debug/netcoreapp2.1/3-peek.assets.cache
csharp-generics/3-peek/obj/Debug/netcoreapp2.1/3-peek.csproj.AssemblyReference.cache
csharp-generics/3-peek/obj/Debug/netcoreapp2.1/3-peek.csproj.CoreCompileInputs.cache
csharp-generics/3-peek/obj/Debug/netcoreapp2.1/3-peek.csproj.FileListAbsolute.txt
csharp-generics/3-peek/obj/Debug/netcoreapp2.1/3-peek.dll
csharp-generics/3-peek/obj/Debug/netcoreapp2.1/3-peek.GeneratedMSBuildEditorConfig.editorconfig
csharp-generics/3-peek/obj/Debug/netcoreapp2.1/3-peek.genruntimeconfig.cache
csharp-generics/3-peek/obj/Debug/netcoreapp2.1/3-peek.pdb
csharp-generics/3-peek/obj/Debug/netcoreapp2.1/3-peek.sourcelink.json
csharp-generics/4-main.cs/4-main.cs
csharp-generics/4-main.cs/4-print.csproj
csharp-generics/4-main.cs/queue.cs
csharp-generics/4-main.cs/bin/Debug/netcoreapp2.1/4-print.deps.json
csharp-generics/4-main.cs/bin/Debug/netcoreapp2.1/4-print.dll
csharp-generics/4-main.cs/bin/Debug/netcoreapp2.1/4-print.pdb
csharp-generics/4-main.cs/bin/Debug/netcoreapp2.1/4-print.runtimeconfig.dev.json
csharp-generics/4-main.cs/bin/Debug/netcoreapp2.1/4-print.runtimeconfig.json
csharp-generics/4-main.cs/obj/4-print.csproj.nuget.dgspec.json
csharp-generics/4-main.cs/obj/4-print.csproj.nuget.g.props
csharp-generics/4-main.cs/obj/4-print.csproj.nuget.g.targets
csharp-generics/4-main.cs/obj/project.assets.json
csharp-generics/4-main.cs/obj/project.nuget.cache
csharp-generics/4-main.cs/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
csharp-generics/4-main.cs/obj/Debug/netcoreapp2.1/4-print.AssemblyInfoInputs.cache
csharp-generics/4-main.cs/obj/Debug/netcoreapp2.1/4-print.assets.cache
csharp-generics/4-main.cs/obj/Debug/netcoreapp2.1/4-print.csproj.AssemblyReference.cache
csharp-generics/4-main.cs/obj/Debug/netcoreapp2.1/4-print.csproj.CoreCompileInputs.cache
csharp-generics/4-main.cs/obj/Debug/netcoreapp2.1/4-print.csproj.FileListAbsolute.txt
csharp-generics/4-main.cs/obj/Debug/netcoreapp2.1/4-print.dll
csharp-generics/4-main.cs/obj/Debug/netcoreapp2.1/4-print.GeneratedMSBuildEditorConfig.editorconfig
csharp-generics/4-main.cs/obj/Debug/netcoreapp2.1/4-print.genruntimeconfig.cache
csharp-generics/4-main.cs/obj/Debug/netcoreapp2.1/4-print.pdb
csharp-generics/4-main.cs/obj/Debug/netcoreapp2.1/4-print.sourcelink.json
csharp-generics/4-print/4-print.cs
csharp-generics/4-print/4-print.csproj
csharp-generics/4-print/queue.cs
csharp-generics/5-concatenate/5-concatenate.cs
csharp-generics/5-concatenate/main.cs
csharp-generics/5-concatenate/obj/5-concatenate.csproj.nuget.dgspec.json
csharp-generics/5-concatenate/obj/5-concatenate.csproj.nuget.g.props
csharp-generics/5-concatenate/obj/5-concatenate.csproj.nuget.g.targets
csharp-generics/5-concatenate/obj/project.assets.json
csharp-generics/5-concatenate/obj/project.nuget.cache
csharp-generics/5-concatenate/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
csharp-generics/5-concatenate/obj/Debug/netcoreapp2.1/5-concatenate.AssemblyInfo.cs
csharp-generics/5-concatenate/obj/Debug/netcoreapp2.1/5-concatenate.AssemblyInfoInputs.cache
csharp-generics/5-concatenate/obj/Debug/netcoreapp2.1/5-concatenate.assets.cache
csharp-generics/5-concatenate/obj/Debug/netcoreapp2.1/5-concatenate.csproj.AssemblyReference.cache
csharp-generics/5-concatenate/obj/Debug/netcoreapp2.1/5-concatenate.csproj.CoreCompileInputs.cache
csharp-generics/5-concatenate/obj/Debug/netcoreapp2.1/5-concatenate.csproj.FileListAbsolute.txt
csharp-generics/5-concatenate/obj/Debug/netcoreapp2.1/5-concatenate.GeneratedMSBuildEditorConfig.editorconfig
csharp-generics/5-concatenate/obj/Debug/netcoreapp2.1/5-concatenate.sourcelink.json
csharp-linear_algebra/18-matrix_matrix_mul/18-matrix_matrix_mul.csproj
csharp-linear_algebra/25-matrix_transpose/obj/25-matrix_transpose.csproj.nuget.dgspec.json
csharp-linear_algebra/25-matrix_transpose/obj/25-matrix_transpose.csproj.nuget.g.props
csharp-linear_algebra/25-matrix_transpose/obj/25-matrix_transpose.csproj.nuget.g.targets
csharp-linear_algebra/25-matrix_transpose/obj/project.assets.json
csharp-linear_algebra/25-matrix_transpose/obj/project.nuget.cache
csharp-linear_algebra/9-vector_scalar_mul/obj/project.nuget.cache
0-universal_health/0-universal_health.cs
0-universal_health/0-universal_health.csproj
csharp-delegates_events/0-universal_health/0-main.cs
csharp-delegates_events/0-universal_health/0-universal_health/0-universal_health.cs
csharp-delegates_events/0-universal_health/0-universal_health/0-universal_health.csproj
